{% include "header.html" %}
<body style="background: url('https://kalendargoda.com/sites/default/files/inline/images/lunnii_kalendar_sibir_2020_dni_i_fazi_dlya_zapadnoi_sibiri.jpg'); background-repeat: no-repeat; background-size: 20%">
<div >
    <div class="row">
        <div class="col">
            <h2 class="text-center">Полезные ссылки</h2>
            <ul class="nav nav justify-content-center">
                <button onclick="window.location.href = 'https://chat.sm117.ru';" type="" class="btn btn-primary">Rocket.Chat
                </button>
                <button onclick="window.location.href = 'https://arm.sm117.ru';" type="" class="btn btn-secondary">ARM
                </button>
                <button onclick="window.location.href = 'https://arm.sm117.ru';" type="button" class="btn btn-success">ATS</button>
                <button onclick="window.location.href = 'https://10.0.0.17';" type="button" class="btn btn-danger">Старая ATS</button>
                <button onclick="window.location.href = 'https://sm117.ru/mantis/';" type="button" class="btn btn-warning">MantisBT</button>
                <button onclick="window.location.href = 'https://sm117.ru/wiki/';" type="button" class="btn btn-info">WIKI</button>

            </ul>

        </div>
    </div>
</div>
</body>

